---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/datascan/product:%22HTTP%20Server%22%20port:443%20os:Windows%20tls:true?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"datascan","@timestamp":"2018-11-16T11:38:43.000Z","@type":"doc","app":{"http":{"bodymd5":"7698d363de94fbd4bf4c6ea4a1312fd8","component":[{"product":"PHP","productvendor":"PHP","productversion":"7.1.11"},{"product":"OpenSSL","productvendor":"OpenSSL","productversion":"1.0.2l"}],"headermd5":"61767a830291afb9f73ed4f5c6ad04a2"},"length":"334"},"asn":"AS14618","basicconstraints":"critical","ca":"false","city":"Ashburn","country":"US","cpe":["cpe:\/a:apache:http_server:2.4.29","cpe:\/a:php:php:7.1.11","cpe:\/a:openssl:openssl:1.0.2l"],"data":"HTTP\/1.1
        200 OK\r\nDate: Fri, 16 Nov 2018 11:38:32 GMT\r\nContent-Type: text\/html\r\nContent-Length:
        26\r\nConnection: keep-alive\r\nServer: Apache\/2.4.29 (Win32) OpenSSL\/1.0.2l
        PHP\/7.1.11\r\nLast-Modified: Fri, 24 Nov 2017 19:16:41 GMT\r\nETag: \"1a-55ebf647ef622\"\r\nAccept-Ranges:
        bytes\r\nAccess-Control-Allow-Origin: *\r\n\r\nWelcome To Helnix Services","datamd5":"248eabc3f6a1e1dbcd4e7df43378ccb8","device":{"class":"Web
        Server"},"domain":["helnix.com"],"extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"c7991c6e1c1bd99fd0f15936f0484694","sha1":"39b8ef97139c8ad0dbb8c72435c233a10480caa7","sha256":"b637826be611667d522deca30168142bfa6bc72e6ffe6c2d71930dcdfe2f7f4a"},"host":["streams"],"hostname":["streams.helnix.com"],"ip":"52.205.214.182","ipv6":"false","issuer":{"commonname":"Amazon","country":"US","organization":"Amazon"},"keyusage":["digitalSignature","keyEncipherment"],"location":"39.0481,-77.4728","organization":"Amazon.com,
        Inc.","os":"Windows","osbits":"32","osvendor":"Microsoft","port":"443","product":"HTTP
        Server","productvendor":"Apache","productversion":"2.4.29","protocol":"http","protocolversion":"1.1","publickey":{"algorithm":"rsaEncryption","length":"2048"},"reason":"OK","seen_date":"2018-11-16","serial":"08:d8:d5:58:e6:23:31:9f:ca:cc:6b:fe:b4:e9:04:af","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"datascan","status":"200","subject":{"altname":["streams.helnix.com"],"commonname":"streams.helnix.com"},"subnet":"52.200.0.0\/13","tag":["ok"],"tld":["com"],"tls":"true","validity":{"notafter":"2019-11-28T12:00:00Z","notbefore":"2018-10-28T00:00:00Z"},"version":"v3","wildcard":"false"},{"@category":"datascan","@timestamp":"2018-11-16T11:38:20.000Z","@type":"doc","app":{"http":{"bodymd5":"d41d8cd98f00b204e9800998ecf8427e","component":[{"product":"Java","productvendor":"Oracle"},{"product":"OpenSSL","productvendor":"OpenSSL","productversion":"1.0.2k"}],"headermd5":"bff033295495b5557016f1131ae49edc"},"length":"485"},"asn":"AS4812","ca":"false","country":"CN","cpe":["cpe:\/a:apache:http_server:2.4.25","cpe:\/a:oracle:java:-","cpe:\/a:openssl:openssl:1.0.2k"],"data":"HTTP\[...]
