---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/inetnum/organization:%22OVH%20SAS%22?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"inetnum","@timestamp":"2019-10-20T01:38:29.000Z","@type":"doc","asn":"AS16276","country":"PT","domain":"voice.pt","host":"51","hostname":"51.254.164.33.voice.pt","information":["Dedicated
        Servers"],"ip":"51.254.164.33","ipv6":"false","location":"38.7139,-9.1394","netname":"OVH-DEDICATED-51-254-164-32-FO","organization":"OVH
        SAS","reverse":"51.254.164.33.voice.pt","seen_date":"2019-10-20","source":"RIPE","subdomains":["254.164.33.voice.pt","33.voice.pt","164.33.voice.pt"],"subnet":"51.254.164.32\/27","tld":"pt"},{"@category":"inetnum","@timestamp":"2019-10-20T01:38:29.000Z","@type":"doc","asn":"AS16276","country":"FR","information":["OVH
        Static IP"],"ipv6":"false","location":"48.8582,2.3387","netname":"OVH_93148964","organization":"OVH
        SAS","seen_date":"2019-10-20","source":"RIPE","subnet":"51.254.230.64\/29"},{"@category":"inetnum","@timestamp":"2019-10-20T01:38:29.000Z","@type":"doc","asn":"AS16276","country":"FR","information":["OVH
        Static IP"],"ipv6":"false","location":[...]
