---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/inetnum/organization:%22OVH%20SAS%22?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"inetnum","@timestamp":"2019-08-25T01:41:26.000Z","@type":"doc","asn":"AS16276","country":"FR","domain":"fr.eu","host":"pdc1-1-m0","information":["TRADING
        CENTRAL"],"ip":"87.98.198.129","ipv6":"false","location":"48.8582,2.3387","netname":"TRADING-CENTRAL-OVH","organization":"OVH
        SAS","reverse":"pdc1-1-m0.fr.eu","seen_date":"2019-08-25","source":"RIPE","subnet":"87.98.198.128\/27","tld":"eu"},{"@category":"inetnum","@timestamp":"2019-08-25T01:41:26.000Z","@type":"doc","asn":"AS16276","country":"FR","ipv6":"false","location":"48.8582,2.3387","netname":"FR-OVH-20060920","organization":"OVH
        SAS","seen_date":"2019-08-25","source":"RIPE","subnet":"91.121.0.0\/16"},{"@category":"inetnum","@timestamp":"2019-08-25T01:41:26.000Z","@type":"doc","asn":"AS16276","country":"FR","domain":"fr.eu","host":"gsw-4-m0","information":["CONCEPT
        SYSTEM INGENIERIE LOGICIEL"],"ip":"213.[...]
