---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/inetnum/organization:%22OVH%20SAS%22?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS16276","country":"CH","ipv6":"false","location":"47.1449,8.1551","netname":"IN-ADDR","organization":"OVH
        SAS","seen_date":"2018-11-11","source":"RIPE","subnet":"62.245.0.0\/23"},{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS16276","country":"CH","ipv6":"false","location":"47.1449,8.1551","netname":"IN-ADDR","organization":"OVH
        SAS","seen_date":"2018-11-11","source":"RIPE","subnet":"62.245.2.0\/30"},{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS35540","city":"Plaisir","country":"FR","information":["DSL
        static IP","www.ovh.com"],"ipv6":"false","location":"48.8232,1.9541","netname":"OVH-DSL","organization":"OVH
        SAS","seen_date":"2018-11-11","source":"RIPE","subnet":"151.127.0.0\/16"},{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS16276","country":"FR","information":["ID-NET"],"ipv6":"false","location":"48.8582,2.3387","netname":"ID-NET","organization":"OVH
        SAS","seen_date":"2018-11-11","source":"RIPE","subnet":"213.186.55.0\/26[...]
