---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/synscan/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":2,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2019-10-19T11:34:24.000Z","@type":"doc","asn":"AS13335","country":"AU","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","os":"Linux","port":"53","seen_date":"2019-10-19","source":"synscan","subnet":"1.1.1.0\/24"},{"@category":"synscan","@timestamp":"2019-09-26T11:47:54.000Z","@type":"doc","asn":"AS13335","country":"AU","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","os":"Linux","port":"53","seen_date":"2019-09-26","source":"synscan","subnet":"1.1.1.0\/24"}],"status":"ok","took":"0.018","total":2}'
  recorded_at: Mon, 21 Oct 2019 06:30:43 GMT
recorded_with: VCR 5.0.0
