---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/ctl/wokcpride.org?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[],"status":"ok","took":"0.026","total":0}'
  recorded_at: Sat, 17 Nov 2018 23:45:07 GMT
recorded_with: VCR 4.0.0
