---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/onionscan/mh7mkfvezts5j6yu.onion?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":6,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"onionscan","@timestamp":"2019-08-24T12:33:44.000Z","@type":"doc","app":{"extract":{"domain":["blogspot.com","princexml.com","mercurylang.org","github.com"],"file":["atom.xml","rss.xml"],"hostname":["adventuresinmercury.blogspot.com","dl.mercurylang.org","github.com","www.mercurylang.org","www.princexml.com"],"url":["https:\/\/www.princexml.com\/","https:\/\/adventuresinmercury.blogspot.com\/","https:\/\/www.mercurylang.org\/","https:\/\/github.com\/Mercury-Language\/mercury\/blob\/master\/README.bootstrap","http:\/\/dl.mercurylang.org\/rotd\/mercury-srcdist-rotd-2019-06-22.tar.gz","https:\/\/adventuresinmercury.blogspot.com\/2011\/11\/making-grade.html","http:\/\/dl.mercurylang.org\/index.html"]},"http":{"bodymd5":"ceed964a59ce401e3b16cfe4f9993ed6","headermd5":"e316168414521f0da6d7f32f41642bd0","title":"Bluish
        Coder"},"length":"4096"},"cpe":["cpe:\/a:igor_sysoev:nginx:1.10.3"],"cpecount":1,"data":"HTTP\/1.1
        200 OK\r\nContent-Length: 95012\r\nETag: \"5d0f733f-17324\"\r\nDate: Sat,
        24 Aug 2019 12:33:43 GMT\r\nLast-Modified: Sun, 23 Jun 2019 12:40:31 GMT\r\nServer:
        nginx\/1.10.3 (Ubuntu)\r\nContent-Type: text\/html\r\nAccept-Ranges: bytes\r\nAge:
        1\r\nConnection: keep-alive\r\n\r\n\n<!DOCTYPE html>\n<html>\n<head>\n   <meta
        http-equiv=\"content-type\" content=\"text\/html; charset=utf-8\" \/>\n   <title>Bluish
        Coder<\/title>\n   <meta name=\"author\" content=\"Chris Double\" \/>\n\n   <link
        href=\".\/atom.xml\" rel=\"alternate\" title=\"Bluish Coder\" type=\"application\/atom+xml\"
        \/>\n   <link rel=\"alternate\" type=\"application\/rss+xml\" title=\"RSS\"
        href=\".\/rss.xml\"\/> \n\n   <link rel=\"stylesheet\" href=\".\/css\/screen.css\"
        type=\"text\/css\" media=\"screen, projection\">\n   <link rel=\"stylesheet\"
        href=\".\/css\/print.css\" type=\"text\/css\" media=\"print\">\n   <!--[if
        lt IE 8]><link rel=\"stylesheet\" href=\".\/css\/ie.css\" type=\"text\/css\"
        media=\"screen, projection\"><![endif]-->\n   <link rel=\"stylesheet\" href=\".\/css\/syntax.css\"
        type=\"text\/css\" \/>\n   <link rel=\"stylesheet\" href=\".\/css\/bluishcoder.css\"
        type=\"text\/css\">\n<\/head>\n<body>\n  <div class=\"container\">\n    <div
        class=\"span-24 blog-header\">\n      <h1 id=\"blog-title\"><a href=\".\/index.html\">Bluish
        Coder<\/a><\/h1>\n      <p id=\"blog-description\">Programming Languages,
        Martials Arts and Computers. The Weblog of Chris Double.<\/p>\n    <\/div>\n    \n    <hr>\n    <div
        class=\"span-20\">\n      \n\n  \n    <div class=\"post\">\n      <div class=\"span-2\"><p
        class=\"small-heading\">2019-06-23<\/p><\/div>\n      <div class=\"span-18
        last\">\n      <h2 class=\"post-title\"><a href=\".\/.\/2019\/06\/23\/getting-started-with-mercury.html\">Getting
        Started with Mercury<\/a><\/h2>\n      <p><a href=\"https:\/\/www.mercurylang.org\/\">Mercury<\/a>
        is a logic programming\nlanguage, similar to Prolog, but with static types.
        It feels like a\ncombination of SML and Prolog at times. It was designed to
        help with\nprogramming large systems - that is large programs, large teams
        and\nbetter reliability, etc. The comme[...]
