---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/onionscan/mh7mkfvezts5j6yu.onion?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":6,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"onionscan","@timestamp":"2019-10-15T08:41:22.000Z","@type":"doc","app":{"extract":{"domain":["github.com","shenlanguage.org","wikipedia.org","co.uk","github.io"],"file":["www.sh","atom.xml","rss.xml"],"hostname":["en.wikipedia.org","github.com","gravicappa.github.io","shen-language.github.io","shenlanguage.org","www.amazon.co.uk","www.shenlanguage.org"],"url":["https:\/\/shen-language.github.io\/","https:\/\/en.wikipedia.org\/wiki\/Sequent_calculus","http:\/\/shenlanguage.org\/","http:\/\/www.shenlanguage.org\/learn-shen\/shen_in_15mins.html","http:\/\/www.shenlanguage.org\/learn-shen\/OSmanual.htm","https:\/\/github.com\/doublec\/shen-wasp\/","https:\/\/www.amazon.co.uk\/Book-Shen-Third-Mark-Tarver\/dp\/1784562130","https:\/\/gravicappa.github.io\/shen-js\/shen.html"]},"http":{"bodymd5":"441eb494338211da5141e6909bb9c80b","headermd5":"a2537e6fbaeb085ff0380c9144ee74fe","title":"Bluish
        Coder"},"length":"4096"},"cpe":["cpe:\/a:igor_sysoev:nginx:1.10.3"],"cpecount":1,"data":"HTTP\/1.1
        200 OK\r\nContent-Length: 86791\r\nETag: \"5d9bef4f-15307\"\r\nDate: Tue,
        15 Oct 2019 08:41:22 GMT\r\nLast-Modified: Tue, 08 Oct 2019 02:07:11 GMT\r\nServer:
        nginx\/1.10.3 (Ubuntu)\r\nContent-Type: text\/html\r\nAccept-Ranges: bytes\r\nConnection:
        keep-alive\r\n\r\n\n<!DOCTYPE html>\n<html>\n<head>\n   <meta http-equiv=\"content-type\"
        content=\"text\/html; charset=utf-8\" \/>\n   <title>Bluish Coder<\/title>\n   <meta
        name=\"author\" content=\"Chris Double\" \/>\n\n   <link href=\".\/atom.xml\"
        rel=\"alternate\" title=\"Bluish Coder\" type=\"application\/atom+xml\" \/>\n   <link
        rel=\"alternate\" type=\"application\/rss+xml\" title=\"RSS\" href=\".\/rss.xml\"\/>
        \n\n   <link rel=\"stylesheet\" href=\".\/css\/screen.css\" type=\"text\/css\"
        media=\"screen, projection\">\n   <link rel=\"stylesheet\" href=\".\/css\/print.css\"
        type=\"text\/css\" media=\"print\">\n   <!--[if lt IE 8]><link rel=\"stylesheet\"
        href=\".\/css\/ie.css\" type=\"text\/css\" media=\"screen, projection\"><![endif]-->\n   <link
        rel=\"stylesheet\" href=\".\/css\/syntax.css\" type=\"text\/css\" \/>\n   <link
        rel=\"stylesheet\" href=\".\/css\/bluishcoder.css\" type=\"text\/css\">\n<\/head>\n<body>\n  <div
        class=\"container\">\n    <div class=\"span-24 blog-header\">\n      <h1 id=\"blog-title\"><a
        href=\".\/index.html\">Bluish Coder<\/a><\/h1>\n      <p id=\"blog-description\">Programming
        Languages, Martials Arts and Computers. The Weblog of Chris Double.<\/p>\n    <\/div>\n    \n    <hr>\n    <div
        class=\"span-20\">\n      \n\n  \n    <div class=\"post\">\n      <div class=\"span-2\"><p
        class=\"small-heading\">2019-10-03<\/p><\/div>\n      <div class=\"span-18
        last\">\n      <h2 class=\"post-title\"><a href=\".\/.\/2019\/10\/03\/defining-types-in-shen.html\">Defining
        Types in Shen<\/a><\/h2>\n      <p>The <a href=\"http:\/\/shenlanguage.org\/\">Shen
        programming language<\/a> has an extensible type system. Types are defined
        using <a href=\"https:\/\/en.wikipedia.org\/wiki\/Sequent_calculus\">sequent
        calculus<\/a> and the system is powerful enough to create a variety of exotic
        types but it can be difficult when first starting with S[...]
