---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/geoloc/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":1,"error":0,"myip":"103.75.118.111","results":[{"@category":"geoloc","@timestamp":"2018-11-16T09:45:23.000Z","@type":"doc","asn":"AS13335","city":"","country":"AU","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"Cloudflare,
        Inc.","subnet":"1.1.1.0\/24"}],"status":"ok","took":"0.000","total":1}'
  recorded_at: Fri, 16 Nov 2018 09:45:34 GMT
recorded_with: VCR 4.0.0
