---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/synscan/port:23%20country:FR%20tag:mirai?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":9,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2019-10-15T10:10:56.000Z","@type":"doc","asn":"AS3215","city":"Blamont","country":"FR","ip":"92.141.136.137","ipv6":"false","location":"47.3851,6.8480","organization":"Orange","os":"Linux","port":"23","seen_date":"2019-10-15","source":"sniffer","subnet":"92.141.136.0\/23","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2019-10-12T00:17:10.000Z","@type":"doc","asn":"AS3215","city":"Provins","country":"FR","ip":"90.3.234.121","ipv6":"false","location":"48.5500,3.3000","organization":"Orange","os":"Linux","port":"23","seen_date":"2019-10-12","source":"sniffer","subnet":"90.3.232.0\/22","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2019-10-09T19:41:56.000Z","@type":"doc","asn":"AS3215","city":"Tart-l[...]
