---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/synscan/port:23%20country:FR%20tag:mirai?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":8,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2019-08-23T17:15:02.000Z","@type":"doc","asn":"AS3215","city":"Poussan","country":"FR","ip":"80.13.219.10","ipv6":"false","location":"43.4881,3.6697","organization":"Orange","os":"Unknown","port":"23","seen_date":"2019-08-23","source":"sniffer","subnet":"80.13.219.0\/24","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2019-08-19T18:29:13.000Z","@type":"doc","asn":"AS3215","city":"Lyon","country":"FR","ip":"92.154.3.94","ipv6":"false","location":"45.6961,4.9389","organization":"Orange","os":"Linux","port":"23","seen_date":"2019-08-19","source":"sniffer","subnet":"92.154.3.0\/24","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2019-08-15T08:07:05.000Z","@type":"doc","asn":"AS3215","city":"Bar-le-Duc[...]
