---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/synscan/port:23%20country:FR%20tag:mirai?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":10,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2018-11-15T15:02:12.000Z","@type":"doc","asn":"AS3215","city":"Ravilloles","country":"FR","ip":"80.11.47.135","ipv6":"false","location":"46.4278,5.8025","organization":"Orange","os":"Linux","port":"23","seen_date":"2018-11-15","subnet":"80.11.0.0\/16","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2018-11-15T10:06:16.000Z","@type":"doc","asn":"AS12322","city":"Goussainville","country":"FR","ip":"82.233.15.171","ipv6":"false","location":"49.0137,2.4659","organization":"Free
        SAS","os":"Linux","port":"23","seen_date":"2018-11-15","subnet":"82.224.0.0\/11","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2018-11-15T04:26:22.000Z","@type":"doc","asn":"AS12322","city":"Tours"[...]
