---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/synscan/port:23%20country:FR%20tag:mirai?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":10,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2018-11-15T22:29:28.000Z","@type":"doc","asn":"AS3215","country":"FR","ip":"80.13.219.10","ipv6":"false","location":"48.8582,2.3387","organization":"Orange","os":"Unknown","port":"23","seen_date":"2018-11-15","subnet":"80.13.0.0\/16","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2018-11-15T20:07:33.000Z","@type":"doc","asn":"AS12322","city":"Saint-Maurice","country":"FR","ip":"88.191.24.198","ipv6":"false","location":"48.8218,2.4272","organization":"Free
        SAS","os":"Linux","port":"23","seen_date":"2018-11-15","subnet":"88.160.0.0\/11","tag":["botnet","compromised","mirai","worm"]},{"@category":"synscan","@timestamp":"2018-11-15T15:02:12.000Z","@type":"doc","asn":"AS3215","city":"Ravilloles","country":"FR","ip":"80.11.47.135","ipv6":"false","location":"46.4278,5.8025","organization":"Orange","os":"Linux","port":"23","seen_dat[...]
