---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/forward/2.22.52.73?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[],"status":"ok","took":"0.039","total":0}'
  recorded_at: Thu, 29 Aug 2019 12:06:08 GMT
recorded_with: VCR 5.0.0
