---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/forward/2.22.52.73?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":5,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"resolver","@timestamp":"2018-11-06T05:54:49.000Z","@type":"doc","asn":"AS20940","domain":"zeecdn.com","forward":"akamai.vidz.zeecdn.com","host":"akamai","ip":"2.22.52.73","ipv6":"false","location":"47.0000,8.0000","organization":"Akamai
        International B.V.","seen_date":"2018-11-06","source":"pastries","subdomains":["vidz.zeecdn.com"],"subnet":"2.22.52.0\/24","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-04T02:34:21.000Z","@type":"doc","asn":"AS20940","domain":"akamaized.net","forward":"am22.akamaized.net","host":"am22","ip":"2.22.52.73","ipv6":"false","location":"47.0000,8.0000","organization":"Akamai
        International B.V.","seen_date":"2018-11-04","source":"pastries","subnet":"2.22.52.0\/24","tld":"net","type":"forward"},{"@category":"resolver","@timestamp":"2018-10-26T18:37:46.000Z","@type":"doc","asn":"AS20940","city":"Bielefeld","country":"DE","domain":"neulion.net","forward":"sced.cdnak.neulion.net","host":"sced","ip":"2.22.52.73","ipv6":"false","location":"52.0106,8.5493","organization":"Akamai
        International B.V.","seen_date":"2018-10-26","source":"pastries","subdomains":["cdnak.neulion.net"],"subnet":"2.22.52.0\/24","tld":"net","type":"forward"},{"@category":"resolver","@timestamp":"2018-10-22T22:27:36.000Z","@type":"doc","asn":"AS20940","city":"Bielefeld","country":"DE","domain":"go.com","forward":"cdn.abclocal.go.com","host":"cdn","ip":"2.22.52.73","ipv6":"false","location":"52.0106,8.5493","organization":"Akamai
        International B.V.","seen_date":"2018-10-22","source":"pastries","subdomains":["abclocal.go.com"],"subnet":"2.22.52.0\/24","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2018-10-20T01:49:55.000Z","@type":"doc","asn":"AS20940","city":"Bielefeld","country":"DE","domain":"go.com","forward":"cdn.abclocal.go.com","host":"cdn","ip":"2.22.52.73","ipv6":"false","location":"52.0106,8.5493","organization":"Akamai
        International B.V.","seen_date":"2018-10-20","source":"pastries","subdomains":["abclocal.go.com"],"subnet":"2.22.52.0\/24","tld":"com","type":"forward"}],"status":"ok","took":"0.053","total":5}'
  recorded_at: Sat, 17 Nov 2018 02:05:43 GMT
recorded_with: VCR 4.0.0
