---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/pastries/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":29,"myip":"103.75.118.111","page":1,"results":[{"@category":"pastries","@timestamp":"2018-11-16T05:55:34.000Z","@type":"doc","domain":["one.one"],"hostname":["one.one.one.one"],"ip":["10.1.1.1","4.1.9.1","10.5.1.8","8.3.15.96","10.1.1.3","8.3.131.0","10.1.1.6","1.1.1.1","10.1.0.2","10.0.255.255","255.255.0.0","10.5.1.7","10.1.0.1","8.3.102.0","12.4.23.0","10.1.1.4","10.0.0.5","10.1.1.25","10.1.0.10","169.254.0.0","1.3.6.1","10.1.1.5","255.255.255.255"],"key":"fRW8vkdg","seen_date":"2018-11-16","source":"pastebin"},{"@category":"pastries","@timestamp":"2018-11-16T05:12:44.000Z","@type":"doc","domain":["wp.com","streaminghd.cl","streamprolive.com","alfaomega.tv","anvato.net","yayindayiz.biz","imgur.com","ip-158-69-229.net","nordata.it","innovandote.com","canal9comodoro.com","elahmad.com","goo.gl","hostlagarto.com","brandsoftheworld.com","livestream.com","ip-149-56-98.net","servicioamerica.com","choopa.com","mzstatic.com","kataweb.it","mac.store","tevemi.com","blackline.cl","orchardatapple.com","[...]
