---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/resolver/ip:124.108.0.0/16?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":959,"myip":"<MY_IP>","page":1,"results":[{"@category":"resolver","@timestamp":"2019-10-21T06:24:48.000Z","@type":"doc","asn":"AS9924","country":"TW","domain":"net.tw","host":"124-108-171-91","hostname":"124-108-171-91.static.tfn.net.tw","ip":"124.108.171.91","ipv6":"false","location":"23.5000,121.0000","organization":"Taiwan
        Fixed Network, Telco and Network Service Provider.","reverse":"124-108-171-91.static.tfn.net.tw","seen_date":"2019-10-21","source":"datascan","subdomains":["tfn.net.tw","static.tfn.net.tw"],"subnet":"124.108.160.0\/19","tag":["hasreverse"],"tld":"tw","type":"reverse"},{"@category":"resolver","@timestamp":"2019-10-21T06:23:14.000Z","@type":"doc","asn":"AS9924","country":"TW","domain":"com.tw","forward":"taiwantradeshows.com.tw","host":"taiwantradeshows","hostname":"taiwantradeshows.com.tw","ip":"124.108.170.64","ipv6":"false","location":"23.5000,121.0000","organization":"Taiwan
        Fixed Network, Telco and Network Service Provider.","seen_date":"2019-10-21","source":"datascan","subnet":"124.108.160.0\/19","tld":"tw","type":"forward"},{"@category":"resolver","@timestamp":"2019-10-21T06:22:54.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"huffpost.com","forward":"huffpost.com",[...]
