---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/resolver/ip:124.108.0.0/16?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":894,"myip":"<MY_IP>","page":1,"results":[{"@category":"resolver","@timestamp":"2019-08-29T12:01:42.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"aol.com","forward":"aol.com","hostname":"aol.com","ip":"124.108.115.87","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.112.0\/20","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T12:01:42.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"huffingtonpost.com","forward":"huffingtonpost.com","hostname":"huffingtonpost.com","ip":"124.108.115.103","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.112.0\/20","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T12:01:41.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"engadget.com","forward":"engadget.com","hostname":"engadget.com","ip":"124.108.115.87","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.112.0\/20","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T12:01:41.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"huffpost.com","forward":"huffpost.com","hostname":"huffpost.com","ip":"124.108.115.103","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.112.0\/20","tld":"com","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T11:58:25.000Z","@type":"doc","asn":"AS9924","country":"TW","domain":"com.tw","forward":"taiwantradeshows.com.tw","host":"taiwantradeshows","hostname":"taiwantradeshows.com.tw","ip":"124.108.170.64","ipv6":"false","location":"23.5000,121.0000","organization":"Taiwan
        Fixed Network, Telco and Network Service Provider.","seen_date":"2019-08-29","source":"datascan","subnet":"124.108.128.0\/18","tld":"tw","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T11:56:15.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"cocoservice.jp","forward":"fm04.cocoservice.jp","host":"fm04","hostname":"fm04.cocoservice.jp","ip":"124.108.39.161","ipv6":"false","location":"35.6882,139.7532","organization":"CLARA
        ONLINE, Inc.","seen_date":"2019-08-29","source":"datascan","subnet":"124.108.32.0\/21","tld":"jp","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T11:56:09.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"cocoservice.jp","host":"fm04","hostname":"fm04.cocoservice.jp","ip":"124.108.39.161","ipv6":"false","location":"35.6882,139.7532","organization":"CLARA
        ONLINE, Inc.","reverse":"fm04.cocoservice.jp","seen_date":"2019-08-29","source":"datascan","subnet":"124.108.32.0\/21","tag":["hasreverse"],"tld":"jp","type":"reverse"},{"@category":"resolver","@timestamp":"2019-08-29T11:54:35.000Z","@type":"doc","asn":"AS45348","country":"KH","domain":"cwtelecom.net","forward":"cwtelecom.net","hostname":"cwtelecom.net","ip":"124.108.4.99","ipv6":"false","location":"13.0000,105.0000","organization":"Regency
        Square, Complex B","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.4.0\/22","tld":"net","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T11:54:29.000Z","@type":"doc","asn":"AS45348","country":"KH","domain":"cwtelecom.net","forward":"mail.cwtelecom.net","host":"mail","hostname":"mail.cwtelecom.net","ip":"124.108.4.99","ipv6":"false","location":"13.0000,105.0000","organization":"Regency
        Square, Complex B","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.4.0\/22","tld":"net","type":"forward"},{"@category":"resolver","@timestamp":"2019-08-29T11:43:08.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"dmoz.org","forward":"dmoz.org","hostname":"dmoz.org","ip":"124.108.115.100","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2019-08-29","source":"urlscan","subnet":"124.108.112.0\/20","tld":"org","type":"forward"}],"status":"ok","took":"0.026","total":8935}'
  recorded_at: Thu, 29 Aug 2019 12:07:32 GMT
recorded_with: VCR 5.0.0
