---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/resolver/ip:124.108.0.0/16?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":857,"myip":"<MY_IP>","page":1,"results":[{"@category":"resolver","@timestamp":"2018-11-17T02:03:14.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"iwate-job-matching.jp","forward":"www.iwate-job-matching.jp","host":"www","ip":"124.108.39.132","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-17","source":"urlscan","subnet":"124.108.32.0\/21","tld":"jp","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-17T02:02:36.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"astf-kha.jp","forward":"www.astf-kha.jp","host":"www","ip":"124.108.33.33","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-17","source":"urlscan","subnet":"124.108.32.0\/21","tld":"jp","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-17T01:17:06.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"co.jp","forward":"www.kujira.co.jp","host":"www","ip":"124.108.33.40","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-17","source":"urlscan","subdomains":["kujira.co.jp"],"subnet":"124.108.32.0\/21","tld":"jp","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-17T00:28:43.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"hanes.jp","forward":"www.hanes.jp","host":"www","ip":"124.108.39.168","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-17","source":"urlscan","subnet":"124.108.32.0\/21","tld":"jp","type":"forward"},{"@category":"resolver","@timest[...]
