---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/resolver/ip:124.108.0.0%2F16?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":870,"myip":"103.75.118.111","page":1,"results":[{"@category":"resolver","@timestamp":"2018-11-16T09:31:33.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"ac.jp","forward":"lib-arts.hc.keio.ac.jp","ip":"124.108.39.20","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-16","source":"urlscan","subnet":"124.108.32.0\/21","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-16T09:26:29.000Z","@type":"doc","asn":"AS23661","city":"Tokyo","country":"JP","domain":"astf-kha.jp","forward":"www.astf-kha.jp","ip":"124.108.33.33","ipv6":"false","location":"35.6850,139.7514","organization":"CLARA
        ONLINE, Inc.","seen_date":"2018-11-16","source":"urlscan","subnet":"124.108.32.0\/21","type":"forward"},{"@category":"resolver","@timestamp":"2018-11-16T09:16:28.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"yahoo.com","ip":"124.108.115.103","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","reverse":"w2.src3.vip.tw1.yahoo.com","seen_date":"2018-11-16","source":"pastries","subnet":"124.108.112.0\/20","type":"reverse"},{"@category":"resolver","@timestamp":"2018-11-16T09:16:23.000Z","@type":"doc","asn":"AS10229","country":"HK","domain":"huffpost.com","forward":"huffpost.com","ip":"124.108.115.103","ipv6":"false","location":"22.2500,114.1667","organization":"Internet
        Content Provider","seen_date":"2018-11-16","source":"pastries","subnet":"124.108.112.0\/20","type":"forward"},{"@category[...]
