---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/reverse/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":4,"myip":"<MY_IP>","page":1,"results":[{"@category":"resolver","@timestamp":"2019-10-21T06:28:32.000Z","@type":"doc","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","reverse":"one.one.one.one","seen_date":"2019-10-21","source":"udpscan","subdomains":["one.one.one"],"subnet":"1.1.1.0\/24","tag":["hasreverse"],"tld":"one","type":"reverse"},{"@category":"resolver","@timestamp":"2019-10-20T23:57:39.000Z","@type":"doc","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","reverse":"one.one.one.one","seen_date":"2019-10-20","source":"udpscan","subdomains":["one.one.one"],"subnet":"1.1.1.0\/24","tag":["hasreverse"],"tld":"one","type":"reverse"},{"@category":"resolver","@timestamp":"201[...]
