---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/threatlist/country:RU?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2019-10-21T06:04:22.000Z","@type":"doc","asn":"AS12389","city":"Kurgan","country":"RU","domain":"zaural.ru","host":"ws99","hostname":"ws99.zone31-163-151.zaural.ru","ip":"31.163.151.99","ipv6":"false","location":"55.4500,65.3333","organization":"Rostelecom","reverse":"ws99.zone31-163-151.zaural.ru","seen_date":"2019-10-21","source":"sniffer","subdomains":"zone31-163-151.zaural.ru","subnet":"31.163.151.99\/32","tag":["botnet","compromised","hasreverse","mirai","worm"],"threatlist":"ONYPHE
        - botnet\/mirai","tld":"ru"},{"@category":"threatlist","@timestamp":"2019-10-21T06:02:29.000Z","@type":"doc","asn":"AS48642","city":"Yekaterinburg","country":"RU","domain":"k-telecom.org","host":"217-151-233-87","hostname":"217-151-233-87.k-telecom.org","ip":"217.151.233.87","ipv6":"false","location":"56.8577,60.6110","organization":"Joint
        stock company For","reverse":"217-151-233-87.k-telecom.org","seen_date":"2019-10-21","source":"sniffer","subnet":"217.151.233.87\/32","tag":["botnet","compromised","hasrever[...]
