---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/threatlist/country:RU?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2018-11-17T00:45:51.000Z","@type":"doc","asn":"AS12389","city":"Novy
        Urengoy","country":"RU","ipv6":"false","location":"66.0833,76.6333","organization":"Rostelecom","seen_date":"2018-11-17","subnet":"178.47.29.15\/32","tag":["botnet","compromised","mirai","worm"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T22:39:08.000Z","@type":"doc","asn":"AS56340","city":"Mytishchi","country":"RU","ipv6":"false","location":"55.9089,37.7339","organization":"Grand
        Ltd","seen_date":"2018-11-16","subnet":"185.17.153.18\/32","tag":["botnet","compromised","mirai","worm"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T22:38:06.000Z","@type":"doc","asn":"AS12389","city":"Surgut[...]
