---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/threatlist/country:RU?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2018-11-16T11:19:55.000Z","@type":"doc","asn":"AS12389","city":"Kasli","country":"RU","ipv6":"false","location":"55.8906,60.7619","organization":"Rostelecom","seen_date":"2018-11-16","subnet":"94.50.26.59\/32","tag":["botnet","compromised","mirai","worm"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T10:58:04.000Z","@type":"doc","asn":"AS12389","city":"Gubkinskiy","country":"RU","ipv6":"false","location":"64.4553,76.6169","organization":"Rostelecom","seen_date":"2018-11-16","subnet":"37.79.124.80\/32","tag":["botnet","compromised","mirai","worm"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T10:38:50.000Z","@type":"doc","asn":"AS43594","city":"Ust''-Kut","c[...]
