---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/threatlist/country:RU?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"103.75.118.111","page":1,"results":[{"@category":"threatlist","@timestamp":"2018-11-16T09:56:54.000Z","@type":"doc","asn":"AS12389","city":"Nizhnevartovsk","country":"RU","ipv6":"false","location":"60.9333,76.5667","organization":"Rostelecom","seen_date":"2018-11-16","subnet":"188.17.6.147\/32","threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T09:49:40.000Z","@type":"doc","asn":"AS12389","city":"Surgut","country":"RU","ipv6":"false","location":"61.2500,73.4167","organization":"Rostelecom","seen_date":"2018-11-16","subnet":"31.162.176.58\/32","threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-11-16T09:40:35.000Z","@type":"doc","asn":"AS12389","city":"Tyumen","country":"RU","ipv6":"false","location":"57.1522,65.5[...]
