---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/threatlist/206.81.18.195?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":2,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2019-09-22T08:06:21.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1188,8.6843","organization":"DigitalOcean,
        LLC","seen_date":"2019-09-22","source":"uceprotect","subnet":"206.81.16.0\/20","threatlist":"Uceprotect
        - IP blacklist level-2"},{"@category":"threatlist","@timestamp":"2019-09-21T08:05:56.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1188,8.6843","organization":"DigitalOcean,
        LLC","seen_date":"2019-09-21","source":"uceprotect","subnet":"206.81.16.0\/20","threatlist":"Uceprotect
        - IP blacklist level-2"}],"status":"ok","took":"0.086","total":2}'
  recorded_at: Mon, 21 Oct 2019 06:30:44 GMT
recorded_with: VCR 5.0.0
