---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/threatlist/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"max_page":1,"myip":"103.75.118.111","page":1,"results":[],"status":"ok","took":"0.020","total":0}'
  recorded_at: Fri, 16 Nov 2018 09:45:32 GMT
recorded_with: VCR 4.0.0
