---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/threatlist/206.81.18.195?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":3,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2018-07-24T08:35:41.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1153,8.6823","organization":"DigitalOcean,
        LLC","seen_date":"2018-07-24","subnet":"206.81.18.195\/32","tag":["botnet","mirai"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-07-22T18:02:45.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1153,8.6823","organization":"DigitalOcean,
        LLC","seen_date":"2018-07-22","subnet":"206.81.18.195\/32","tag":["botnet","mirai"],"threatlist":"ONYPHE
        - botnet\/mirai"},{"@category":"threatlist","@timestamp":"2018-07-21T21:17:37.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1153,8.6823","organization":"DigitalOcean,
        LLC","seen_date":"2018-07-21","subnet":"206.81.18.195\/32","tag":["botnet","mirai"],"threatlist":"ONYPHE
        - botnet\/mirai"}],"status":"ok","took":"0.016","total":3}'
  recorded_at: Fri, 16 Nov 2018 11:38:36 GMT
recorded_with: VCR 4.0.0
