---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/v2/simple/geoloc/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":4,"error":0,"max_page":1,"myip":"<MY_IP>","page":"1","results":[{"@category":"geoloc","@timestamp":"2020-03-17T11:00:00.000Z","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"CLOUDFLARENET","reverse":"one.one.one.one","seen_date":"2020-03-17","source":"geolite2","subdomains":"one.one.one","subnet":"1.1.1.0\/24","tld":"one"},{"@category":"geoloc","@timestamp":"2020-03-10T11:00:00.000Z","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"CLOUDFLARENET","reverse":"one.one.one.one","seen_date":"2020-03-10","source":"geolite2","subdomains":"one.one.one","subnet":"1.1.1.0\/24","tld":"one"},{"@category":"geoloc","@timestamp":"2020-03-03T11:00:00.000Z","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"CLOUDFLARENET","reverse":"one.one.one.one","seen_date":"2020-03-03","source":"geolite2","subdomains":"one.one.one","subnet":"1.1.1.0\/24","tld":"one"},{"@category":"geoloc","@timestamp":"2020-02-25T11:00:00.000Z","asn":"AS13335","country":"AU","domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"CLOUDFLARENET","reverse":"one.one.one.one","seen_date":"2020-02-25","source":"geolite2","subdomains":"one.one.one","subnet":"1.1.1.0\/24","tld":"one"}],"status":"ok","text":"Success","took":0.051,"total":4}'
  recorded_at: Mon, 23 Mar 2020 23:33:58 GMT
recorded_with: VCR 5.1.0
