---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/v2/simple/geoloc/1.1.1.1?apikey=<API_KEY>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"max_page":1,"myip":"<MY_IP>","page":"2","results":[],"status":"ok","text":"Success","took":0.152,"total":4}'
  recorded_at: Mon, 23 Mar 2020 23:33:57 GMT
recorded_with: VCR 5.1.0
