---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/v2/summary/ip/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":56,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2020-03-23T16:51:30.000Z","basicconstraints":["critical"],"ca":"false","domain":"3cx.us","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"2bbf1f3ab2578176967cb0567ff0c9a9","sha1":"74a80aca0e41c4b914749bfcd81e0c288aae16b5","sha256":"2d130e46e63f0270494737f9aea6138fbccbd4ae9173aa8b12f494758868b46c"},"host":"temp","hostname":["temp.tx.3cx.us"],"ip":"1.1.1.1","issuer":{"commonname":"Let''s
        Encrypt Authority X3","country":"US","organization":"Let''s Encrypt"},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2020-03-23","serial":"03:b2:be:1c:b1:cb:06:d2:46:dc:ea:b2:4c:6e:24:47:8a:20","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Google
        Xenon 2020","subdomains":"tx.3cx.us","subject":{"altname":["temp.tx.3cx.us"],"commonname":"temp.tx.3cx.us"},"tld":"us","validity":{"notafter":"2020-06-21T15:50:16.000Z","notbefore":"2020-03-23T15:50:16.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2020-03-23T14:56:11.000Z","basicconstraints":["critical"],"ca":"false","country":"US","domain":["eigenkor.com","cloudflaressl.com"],"extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"bd44ac8d44599bab8a27991444a9a097","sha1":"aefda68a0cc6d99cb8105e850f7d5314dbdbcc76","sha256":"51d16c016529f996bb9d88d4f0cf5d79b05d00ab58883882c8e0194a9f1d3aa2"},"host":"sni","hostname":["eigenkor.com","sni.cloudflaressl.com"],"ip":["104.20.47.142","104.20.48.142[...]
