---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/md5/7a1f20cae067b75a52bc024b83ee4667?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"datascan","@timestamp":"2019-08-29T12:06:01.000Z","@type":"doc","app":{"length":"21"},"asn":"AS45090","city":"Beijing","country":"CN","cpe":["cpe:\/a:openbsd:openssh:7.4"],"cpecount":1,"data":"SSH-2.0-OpenSSH_7.4\\x0d\n","datamd5":"7a1f20cae067b75a52bc024b83ee4667","device":{"class":"SSH
        Server"},"ip":"49.235.83.2","ipv6":"false","location":"39.9288,116.3889","organization":"Shenzhen
        Tencent Computer Systems Company Limited","port":"22","product":"OpenSSH","productvendor":"OpenBSD","productversion":"7.4","protocol":"ssh","protocolversion":"2.0","seen_date":"2019-08-29","source":"datascan","subnet":"49.232.0.0\/14","tag":["admin"],"tls":"false","transport":"tcp"},{"@category":"datascan","@timestamp":"2019-08-29T12:05:58.000Z","@type":"doc","app":{"length":"21"},"asn":"AS16509","city":"Tokyo","country":"JP","cpe":["cpe:\/a:openbsd:openssh:7.4"],"cpecount":1,"data":"SSH-2.0-OpenSSH_7.4\\x0d\n","datamd5":"7a1f20cae067b75a52bc024b83ee4667","device":{"class":"SSH
        Server"},"domain":"amazonaws.com","host":"ec2-52-198-58-52","hostname":["ec2-52-198-58-52.ap-northeast-1.compute.amazonaws.com"],"ip":"52.198.58.52","ipv6":"false","location":"35.6882,139.7532","organization":"Amazon.com,
        Inc.","port":"22","product":"OpenSSH","productvendor":"OpenBSD","productversion":"7.4","protocol":"ssh","protocolversion":"2.0","reverse":"ec2-52-198-58-52.ap-northeast-1.compute.amazonaws.com","seen_date":"2019-08-29","source":"datascan","subdomains":["compute.amazonaws.com","ap-northeast-1.compute.amazonaws.com"],"subnet":"52.198.0.0\/15","tag":["admin","hasreverse"],"tld":"com","tls":"false","transport":"tcp"},{"@category":"datascan","@timestamp":"2019-08-29T12:05:58.000Z","@type":"doc","app":{"length":"21"},"asn":"AS31898","country":"US","cpe":["cpe:\/a:openbsd:openssh:7.4"],"cpecount":1,"data":"SSH-2.0-OpenSSH_7.4\\x0d\n","datamd5":"7a1f20cae067b75a52bc024b83ee4667","device":{"class":"SSH
        Server"},"ip":"129.146.113.18","ipv6":"false","location":"37.7510,-97.8220","organization":"Oracle
        Corporation","port":"22","product":"OpenSSH","productvendor"[...]
