---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/md5/44d88612fea8a8f36de82e1278abb02f?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[],"status":"ok","took":"0.005","total":0}'
  recorded_at: Fri, 16 Nov 2018 11:39:07 GMT
recorded_with: VCR 4.0.0
