---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/ctl/host:vpn?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2019-10-21T06:32:09.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"autoklad.ua","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"89a191e63692967845d4cd8e3c97c396","sha1":"57513cb96af852d657c7bdd89db8d01d4abb58c9","sha256":"3e5b47e963cbbc736c9b12952bb6b26067a35a9c977a2a0f8133b02238210bd4"},"host":["vpn","mail2"],"hostname":["mail2.autoklad.ua","vpn.autoklad.ua"],"ip":["31.28.161.138","2a03:6300:1:61:0:0:0:12"],"issuer":{"commonname":"Let''s
        Encrypt Authority X3","country":"US","organization":"Let''s Encrypt"},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"4096"},"seen_date":"2019-10-21","serial":"04:3a:26:6e:a3:0d:74:1c:ae:43:8a:11:6c:d6:e2:91:55:df","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Google
        Argon 2020","subject":{"altname":["mail2.autoklad.ua","vpn.autoklad.ua"],"commonname":"mail2.autoklad.ua"},"tld":"ua","validity":{"notafter":"2020-01-19T05:30:38.000Z","notbefore":"2019-10-21T05:30:38.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2019-10-21T06:24:16.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"co.uk","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"1264ce50469c9b2c62ea526497de104c","sha1":"b585dbb0b463c965f70b284a8126e03520ca9f5d","sha256":"6157d56b9b7c622492cfea0861860d336ffa93f775cd04f9429c875f487fafe1"},"host":["vpn","autodiscover"],"hostname":["autodiscover.cairngormgroup.co.uk","vpn.cairngormgroup.co.uk"],"ip":"87.117.95.158","issuer":{"commonname":"Let''s
        Encrypt Authority X3","country":"US","organization":"Let''s Encrypt"},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2019-10-21","serial":"03:22:c8:5f:53:7c:b6:57:93:0b:40:f6:d8:78:2b:d9:bd:0c","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Google
        Argon 2020","subdomains":"cairngormgroup.co.uk","subject":{"altname":["autodiscover.cairngormgroup.co.uk","vpn.cairngormgroup.co.uk"],"commonname":"vpn.cairngormgroup.co.uk"},"tld":"uk","validity":{"notafter":"2020-01-19T05:21:50.000Z","notbefore":"2019-10-21T05:21:50.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2019-10-21T06:17:33.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"ingogo.net","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"0b1052823c[...]
