---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/ctl/host:vpn?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2019-08-29T12:03:05.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","country":"US","domain":"thomsonreuters.com","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"a9a741848a7d19b25a2881375fe4aa80","sha1":"cc36fc883c0738947b959dfbac815c5b3882288d","sha256":"688abe7da768938616ff82baaf7ec8daca0992c001f48231aca726cf116229d1"},"host":"vpn","hostname":["vpn.thomsonreuters.com"],"ip":"159.220.75.144","issuer":{"commonname":"COMODO
        RSA Organization Validation Secure Server CA","country":"GB","organization":"COMODO
        CA Limited"},"keyusage":["critical","digitalSignature","keyEncipherment"],"organization":"Thomson
        Reuters Corporation","publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2019-08-29","serial":"fc:6b:f8:4a:f8:ff:b1:ac:1b:ad:8e:1a:8e:5a:57:23","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Google
        Argon 2021","subject":{"altname":["vpn.thomsonreuters.com"],"commonname":"vpn.thomsonreuters.com"},"tld":"com","validity":{"notafter":"2021-08-28T23:59:59.000Z","notbefore":"2019-08-29T00:00:00.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2019-08-29T12:02:00.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","country":"US","domain":"thomsonreuters.com","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"d2978dab52a1faa61f989461f2df4723","sha1":"c7a66a2569a6980658670d70b20feca90ab2052c","sha256":"1c641b27d5b611701a48b68103e00cf8cbe9fe01323290ea67bf96a32260a34d"},"host":"vpn","hostname":["vpn.thomsonreuters.com"],"ip":"159.220.75.144","issuer":{"commonname":"COMODO[...]
