---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/ctl/host:vpn?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":101,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2018-11-16T11:37:59.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"avouera.com","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"a7c2350b9c69bb425c868d2056c6c108","sha1":"ed522a22942b79c0dbc7920b21a6a30216fe7ff6","sha256":"ab6427cd794e3a8f0144d9a1b78b4d5f5793c0cf9914680a7fd5694a94846437"},"host":["vpn","www"],"hostname":["vpn.avouera.com","www.vpn.avouera.com"],"ip":"173.236.80.218","issuer":{"commonname":"cPanel,
        Inc. Certification Authority","country":"US","organization":"cPanel, Inc."},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2018-11-16","serial":"17:98:6e:4c:0f:d2:46:3b:45:3d:78:30:e3:a6:f2:53","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Cloudflare
        Nimbus 2019","subdomains":"vpn.avouera.com","subject":{"altname":["vpn.avouera.com","www.vpn.avouera.com"],"commonname":"vpn.avouera.com"},"tld":"com","validity":{"notafter":"2019-02-14T23:59:59.000Z","notbefore":"2018-11-16T00:00:00.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2018-11-16T11:13:43.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","country":"SE","domain":"alo.se","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"3a7038065923032bd64e7ccbc16a1ef9","sha1":"03972d7dd27d3634912e1e6eb3860e5da093967f","sha256":"4fa8c282a0e27bdbb96a02ec69c2d35a493b61141149dce064026e8df4fe45c7"},"host":"vpn","hostname":["vpn.alo.se","www.vpn.alo.se"],"ip":"88.131.212.135","issuer":{"commonname":"COMODO
      [...]
