---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/ctl/host:vpn?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":101,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2018-11-17T00:15:30.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"mivamerchant.com","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"f920f50ac4420dad06245a46f18d9a0c","sha1":"3fd6a77cb5eed6f5b1143f8932a791d51487e1af","sha256":"fcec4885b9920babc54904bd460b30da606b6c42f88f4388055886ec69467136"},"host":"vpn","hostname":["vpn.mivamerchant.com","www.vpn.mivamerchant.com"],"ip":"206.169.61.194","issuer":{"commonname":"COMODO
        RSA Domain Validation Secure Server CA","country":"GB","organization":"COMODO
        CA Limited"},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"4096"},"seen_date":"2018-11-17","serial":"03:c5:d8:5c:1e:61:1d:67:a5:25:65:0c:26:96:ff:61","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Cloudflare
        Nimbus 2020","subject":{"altname":["www.vpn.mivamerchant.com","vpn.mivamerchant.com"],"commonname":"vpn.mivamerchant.com"},"tld":"com","validity":{"notafter":"2020-11-15T23:59:59.000Z","notbefore":"2018-11-16T00:00:00.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2018-11-17T00:15:24.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","country":"US","domain":"uci.edu","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"e90985eafc06b46672a4c2b223d7b5c8","sha1":"6f75f10bb360d6f2e80176db063bf237a8f2ae1d","sha256":"eec28007c358260d7b66c47206ecff19eebb8ee75941a5a3a4a6e09caebacdc0"},"host":["mstb-pri","mstb-vpn","vpn"],"hostname":["mstb-pri.ucinet.uci.edu","mstb-vpn.es.uci.edu","vpn.es.uci.edu"],"ip":["128.200.62.150","128.200.205.122"],"issuer":{"commonname":"InCommon
        RSA Server CA","country":"US","organization":"Internet2"},"keyusage":["critical","digitalSignature","keyEncipherment"],"organization":"University
        of California, Irvine","publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2018-11-17","serial":"89:4f:ba:f6:b0:2d:f7:5a:c6:20:32:95:b0:33:5d:5e","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Cloudflare
        Nimbus 2020","subdomains":["ucinet.uci.edu","es.uci.edu"],"subject":{"altname":["mstb-pri.ucinet.uci.edu","mstb-vpn.es.uci.edu","vpn.es.uci.edu"],"commonname":"mstb-pri.ucinet.uci.edu"},"tld":"edu","validity":{"notafter":"2020-11-15T23:59:59.000Z","notbefore":"2018-11-16T00:00:00.000Z"},"version":"v3","wildcard":"false"},{"@category":"ctl","@timestamp":"2018-11-16T23:20:02.000Z","@type":"doc","ca":"false","domain":"swse.de","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"d16933bbcb200f10c5a2552d006e37c8",[...]
