---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/v2/alert/list?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":0,"error":0,"myip":"<MY_IP>","results":[],"status":"ok","text":"Success","took":"0.000","total":0}'
  recorded_at: Mon, 23 Mar 2020 23:36:42 GMT
recorded_with: VCR 5.1.0
