---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/search/sniffer/ip:14.164.0.0/14?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":35,"myip":"<MY_IP>","page":1,"results":[{"@category":"sniffer","@timestamp":"2018-11-16T06:40:16.000Z","@type":"doc","asn":"AS45899","country":"VN","destport":"445","domain":"vnpt.vn","host":"static","ip":"14.167.110.116","ipv6":"false","location":"16.0000,106.0000","organization":"VNPT
        Corp","os":"Windows","reverse":"static.vnpt.vn","seen_date":"2018-11-16","srcport":"59274","subnet":"14.164.0.0\/14","tag":["hasreverse","tcpsyn"],"tld":"vn","transport":"tcp","type":"tcpsyn"},{"@category":"sniffer","@timestamp":"2018-11-16T03:07:43.000Z","@type":"doc","asn":"AS45899","country":"VN","destport":"445","domain":"vnpt.vn","host":"static","ip":"14.164.135.185","ipv6":"false","location":"16.0000,106.0000","organization":"VNPT
        Corp","os":"Windows","reverse":"static.vnpt.vn","seen_date":"2018-11-16","srcport":"51199","subnet":"14.164.0.0\/14","tag":["hasreverse","tcpsyn"],"tld":"vn","transport":"tcp","type":"tcpsyn"},{"@category":"sniffer","@timestamp":"2018[...]
