---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/sniffer/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":13,"message":"api access denied","myip":"103.75.118.111","status":"nok","took":"0.003"}'
  recorded_at: Fri, 16 Nov 2018 09:45:48 GMT
recorded_with: VCR 4.0.0
