---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/sniffer/217.138.28.194?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":3,"myip":"<MY_IP>","page":1,"results":[{"@category":"sniffer","@timestamp":"2018-11-15T00:35:37.000Z","@type":"doc","asn":"AS20952","city":"London","country":"GB","data":"<\\xbe\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x00\\x00\\x00
        CKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\\x00\\x00!\\x00\\x01","datamd5":"15213a9a96288bfb7e5c13e84f607cb5","destport":"137","ip":"217.138.28.194","ipv6":"false","location":"51.5085,-0.1257","organization":"Venus
        Business Communications Limited","seen_date":"2018-11-15","srcport":"137","subnet":"217.138.0.0\/16","tag":["netbiosns","udpdata"],"transport":"udp","type":"udpdata"},{"@category":"sniffer","@timestamp":"2018-11-14T23:59:48.000Z","@type":"doc","asn":"AS20952","city":"London","country":"GB","data":"+\\xd8\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x00\\x00\\x00
        CKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\\x00\\x00!\\x00\\x01","datamd5":"82b8a47bf4d3b74e15f79efe8c380e80","destport":"137","ip":"217.138.28.194","ipv6":"false","location":"51.5085,-0.1257","organization":"Venus
        Business Communications Limited","seen_date":"2018-11-14","srcport":"137","subn[...]
