---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/ip/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":42,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"geoloc","@timestamp":"2019-08-29T12:06:28.000Z","@type":"doc","asn":"AS13335","city":"","country":"AU","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"Cloudflare,
        Inc.","subnet":"1.1.1.0\/24"},{"@category":"pastries","@timestamp":"2019-08-29T11:45:04.000Z","@type":"doc","domain":["one.one"],"hostname":["one.one.one.one"],"key":"MC9v0VYK","seen_date":"2019-08-29","size":"929","source":"pastebin","syntax":"text","title":"bind
        config"},{"@category":"pastries","@timestamp":"2019-08-28T23:41:29.000Z","@type":"doc","domain":["one.one","wanadoo.fr"],"hostname":["one.one.one.one","lfbn-mon-1-514-1.w2-4.abo.wanadoo.fr","lfbn-mon-1-514-2.w2-4.abo.wanadoo.fr"],"key":"MzU5D8e0","seen_date":"2019-08-28","size":"69802","source":"pastebin","syntax":"text"},{"@category":"pastries","@timestamp":"2019-08-28T22:14:09.000Z","@type":"doc","domain":["one.one"],"hostname":["one.one.one.one"],"key":"v5EpB8VZ","seen_date":"20[...]
