---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/datascan/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":61,"myip":"<MY_IP>","page":1,"results":[{"@category":"datascan","@timestamp":"2019-10-21T06:28:32.000Z","@type":"doc","app":{"length":"30"},"asn":"AS13335","country":"AU","data":"4\\xef\\x81\\x84\\x00\\x01\\x00\\x00\\x00\\x00\\x00\\x00\\x07VERSION\\x04BIND\\x00\\x00\\x10\\x00\\x03","datamd5":"26ff9912477a56b004b5d1eaf584b143","device":{"class":"DNS
        Server"},"domain":"one.one","host":"one","hostname":"one.one.one.one","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","port":"53","protocol":"dns","reverse":"one.one.one.one","seen_date":"2019-10-21","source":"udpscan","subdomains":"one.one.one","subnet":"1.1.1.0\/24","tld":"one","tls":"false","transport":"udp"},{"@category":"datascan","@timestamp":"2019-10-21T06:23:52.000Z","@type":"doc","app":{"http":{"bodymd5":"c702616d316c31f26a245221e04d56a8","headermd5":"e26923201b41942265d59633ba4e19fd","title":"403
        Forbidden"},"length":"350"},"asn":"AS13335","basicconstraints":"critical","ca":"false","country":"AU","cpe":["cpe:\/a:cloudflare:cloudflare:-"],"cpecount":1,"data":"HTTP\/1.1
        403 Forbidden\r\nServer: cloudflare\r\nDate: Mon, 21 Oct 2019 06:23:37 GMT\r\nContent-Type:
        text\/html\r\nContent-Length: 167\r\nConnection: keep-alive\r\nCF-RAY: 529124d29def9d24-AMS\r\n\r\n<html>\r\n<head><title>403
        Forbidden<\/title><\/head>\r\n<body bgcolor=\"white\">\r\n<center><h1>403
        Forbidden<\/h1><\/center>\r\n<hr><center>cloudflare<\/center>\r\n<\/body>\r\n<\/html>\r\n","datamd5":"184db3c97b42199b218052ef0fe7b7a0","device":{"class":"Web
        Server"},"domain":["clouddn.com","cloudflare-dns.com","one.one"],"extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"308e8211296eafe71da7adbb0e56ccda","sha1":"6656840172b4fbbcd6d0a4a103491e93004d195f","sha256":"b1910e0d8aa0d5de8e1f20c026d53ed9cf3df0d72a866ecbdbfc8dfa650ed0bf"},"forward":"7xjrk1.com1.z0.glb.clouddn.com","host":["one"],"hostname":["7xjrk1.com1.z0.glb.clouddn.com","cloudflare-dns.com","one.one.one.one"],"ip":"1.1.1.1","ipv6":"false","issuer":{"commonname":"DigiCert
        ECC Secure Server CA","country":"US","organization":"DigiCert Inc"},"keyusage":["digitalSignature"],"location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","port":"443","product":"Cloudflare","productvendor":"Cloudflare","protocol":"http","protocolversion":"1.1","publickey":{"algorithm":"id-ecPublicKey","length":"256"},"reason":"Forbidden","reverse":"one.one.one.one","seen_date":"2019-10-21","serial":"01:cc:e3:18:de:9f:56:7f:ab:2b:24:90:1f:ad:a7:1d","signature":{"algorithm":"ecdsa-with-SHA256"},"source":"urlscan","status":"403","subdomains":["one.one.one"],"subject":{"altname":["cloudflare-dns.com","*.cloudflare-dns.com","one.one.one.one"],"commonname":"cloudflare-dns.com"},"subnet":"1.1.1.0\/24","tag":["forbidden","hasreverse"],"tld":["com","one"],"tls":"true","transport":"tcp","url":"\/","validity":{"notafter":"2021-02-01T12:00:00Z","notbefore":"2019-01-28T00:00:00Z"},"version":"v3","wildcard":"true"},{"@category":"datascan","@timestamp":"2019-10-21T06:07:20.000Z","@type":"doc","app":{"http":{"bodymd5":"c702616d316c31f26a245221e04d56a8","headermd5":"a7a0b5f84c0dfdf152a2c75e3266bd07","title":"403
        Forbidden"},"length":"350"},"asn":"AS13335","basicconstraints":"critical","ca":"false","country":"AU","cpe":["cpe:\/a:cloudflare:cloudflare:-"],"cpecount":1,"data":"HTTP\/1.1
        403 Forbidden\r\nServer: cloudflare\r\nDate: Mon, 21 Oct 2019 06:07:10 GMT\r\nContent-Type:
        tex[...]
