---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/geoloc/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":1,"error":0,"myip":"<MY_IP>","results":[{"@category":"geoloc","@timestamp":"2019-10-21T06:30:49.000Z","@type":"doc","asn":"AS13335","city":"","country":"AU","ip":"1.1.1.1","ipv6":"false","latitude":"-33.4940","location":"-33.4940,143.2104","longitude":"143.2104","organization":"Cloudflare,
        Inc.","subnet":"1.1.1.0\/24"}],"status":"ok","took":"0.000","total":1}'
  recorded_at: Mon, 21 Oct 2019 06:30:50 GMT
recorded_with: VCR 5.0.0
