---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/synscan/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":2,"myip":"<MY_IP>","page":1,"results":[{"@category":"synscan","@timestamp":"2018-11-17T23:42:23.000Z","@type":"doc","asn":"AS13335","country":"AU","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","os":"Linux","port":"53","seen_date":"2018-11-17","subnet":"1.1.1.0\/24"},{"@category":"synscan","@timestamp":"2018-11-17T16:47:23.000Z","@type":"doc","asn":"AS13335","country":"AU","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
        Inc.","os":"Linux","port":"443","seen_date":"2018-11-17","subnet":"1.1.1.0\/24"},{"@category":"synscan","@timestamp":"2018-11-17T15:45:13.000Z","@type":"doc","asn":"AS13335","country":"AU","ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","organization":"Cloudflare,
  [...]
