---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/threatlist/206.81.18.195?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":3,"myip":"<MY_IP>","page":1,"results":[{"@category":"threatlist","@timestamp":"2019-08-24T08:02:37.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1155,8.6842","organization":"DigitalOcean,
        LLC","seen_date":"2019-08-24","source":"uceprotect","subnet":"206.81.16.0\/20","threatlist":"Uceprotect
        - IP blacklist level-2"},{"@category":"threatlist","@timestamp":"2019-08-23T07:49:20.000Z","@type":"doc","asn":"AS14061","city":"Frankfurt
        am Main","country":"DE","ipv6":"false","location":"50.1155,8.6842","organization":"DigitalOcean,
        LLC","seen_date":"2019-08-23","source":"uceprotect","subnet":"206.81.16.0\/20","threatlist":"Uceprotect
        - IP blacklist level-2"},{"@category":"threatlist","@timestamp":"2019-08-22T07:56:21.000Z","@type":"doc","asn":"AS14[...]
