---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/ctl/okcpride.org?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":1,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"ctl","@timestamp":"2018-11-01T12:26:52.000Z","@type":"doc","basicconstraints":["critical"],"ca":"false","domain":"okcpride.org","extkeyusage":["serverAuth","clientAuth"],"fingerprint":{"md5":"52f97eff2804873fb4fd5ae479697f17","sha1":"78a27b289c7f5b03a4ab4627fe48cdc940d9658f","sha256":"9a6881c653b2a23891cdb64e3b933a624a0d7637f9a4b3ac57064baf79ec7dae"},"host":"www","hostname":["www.okcpride.org"],"ip":"184.168.131.241","issuer":{"commonname":"Go
        Daddy Secure Certificate Authority - G2","country":"US","organization":"GoDaddy.com,
        Inc."},"keyusage":["critical","digitalSignature","keyEncipherment"],"publickey":{"algorithm":"rsaEncryption","exponent":"65537","length":"2048"},"seen_date":"2018-11-01","serial":"c3:27:2f:1c:3f:ca:39:f5","signature":{"algorithm":"sha256WithRSAEncryption"},"source":"Cloudflare
        Nimbus 2021","subject":{"altname":["www.okcpride.org","okcpride.org"],"commonname":"okcpride.org"},"tld":"org","validity":{"notafter":"2021-01-08T20:53:00.000Z","notbefore":"2018-01-08T20:53:00.000Z"},"version":"v3","wildcard":"false"}],"status":"ok","took":"0.009","total":1}'
  recorded_at: Sat, 17 Nov 2018 02:05:48 GMT
recorded_with: VCR 4.0.0
