---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/inetnum/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":8,"error":0,"max_page":1,"myip":"<MY_IP>","page":1,"results":[{"@category":"inetnum","@timestamp":"2019-08-25T01:41:26.000Z","@type":"doc","asn":"AS13335","city":"Langhorne
        Creek","country":"AU","domain":"one.one","host":"one","information":["Asia
        Pacific Network Information Centre","Regional Internet Registry for the Asia-Pacific
        Region","6 Cordelia Street","PO Box 3646","South Brisbane, QLD 4101","Australia"],"ip":"1.0.0.1","ipv6":"false","location":"-35.3010,139.0453","netname":"APNIC-AP","organization":"Cloudflare,
        Inc.","reverse":"one.one.one.one","seen_date":"2019-08-25","source":"APNIC","subdomains":"one.one.one","subnet":"1.0.0.0\/8","tld":"one"},{"@category":"inetnum","@timestamp":"2019-08-25T01:41:26.000Z","@type":"doc","asn":"AS13335","country":"AU","domain":"one.one","host":"one","information":["APNIC
        and Cloudflare DNS Resolver project","Routed globally by AS13335\/Cloudflare","Research
        prefix for APNIC Labs"],"ip":"1.1.1.1","ipv6":"false","location":"-33.4940,143.2104","netname":"APNIC-LABS","organization":"Cloudflare,
        Inc.","reverse":"one.one.one.one","seen_date":"2019-08-25","source":"APNIC","subdom[...]
