---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/inetnum/1.1.1.1?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":7,"myip":"103.75.118.111","page":1,"results":[{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS13335","country":"AU","information":["Asia
        Pacific Network Information Centre","Regional Internet Registry for the Asia-Pacific
        Region","6 Cordelia Street","PO Box 3646","South Brisbane, QLD 4101","Australia"],"ipv6":"false","location":"-33.4940,143.2104","netname":"APNIC-AP","organization":"Cloudflare,
        Inc.","seen_date":"2018-11-11","source":"APNIC","subnet":"1.0.0.0\/8"},{"@category":"inetnum","@timestamp":"2018-11-11T02:35:20.000Z","@type":"doc","asn":"AS13335","country":"AU","information":["APNIC
        and Cloudflare DNS Resolver project","Routed globally by AS13335\/Cloudflare","Research
        prefix for APNIC Labs"],"ipv6":"false","location":"-33.4940,143.2104","netname":"APNIC-LABS","organization":"Cloudflare,
        Inc.","seen_date":"2018-11-11","source":"APNIC","subnet":"1.1.1.0\/24"},{"@category":"inetnum","@timestamp":"2018-11-04T02:35:34.000Z","@type":"doc","asn":"AS13335","country":"AU","information":["Asia
        Pacific Network Information Centre","Regional Internet Registry for the Asia-Pacific
        Region","6 Cordelia Street","PO Box 3646","South Brisbane, QLD 4101","Australia"],"ipv6":"false","location":"-33.4940,143.2104","netname":"APNIC-AP","organization":"Cloudflare,
        Inc.","seen_date":"2018-11-04","source":"APNIC","subnet":"1.0.0.0\/8"},{"@category":"inetnum","@timestamp":"2018-11-04T02:35:34.000Z","@type":"doc","asn":"AS13335","country":"AU","information":["APNIC
        and Cloudflare DNS Resolver project","Routed globally by AS13335\/Cloudflare","Research
        prefix for APNIC Labs"],"ipv6":"false","location":"-33.4940,143.2104","netname":"APNIC-LABS","organization":"Cloudflare,
        Inc.","seen_date":"2018-11-04","source":"APNIC","subnet":"1.1.1.0\/24"},{"@category":"inetnum","@timestamp":"2018-10-28T02:35:37.000Z","@type":"doc","asn":"AS13335","city":"Seaton","country":"AU","information":["Asia
        Pacific Network Information Centre","Regional Internet Registry for the Asia-Pacific
        Region","6 Cordelia Street","PO Box 3646","South Brisbane, QLD 4101","Australia"],"ipv6":"false","location":"-34.9000,138.5167","netname":"APNIC-AP","organization":"Cloudflare,
        Inc.","seen_date":"2018-10-28","source":"APNIC","subnet":"1.0.0.0\/8"},{"@category":"inetnum","@timestamp":"2018-10-28T02:35:37.000Z","@type":"doc","asn":"AS13335","coun[...]
