---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/datascan/1.1.1.1?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":58,"myip":"<MY_IP>","page":1,"results":[{"@category":"datascan","@timestamp":"2019-08-29T11:59:59.000Z","@type":"doc","app":{"http":{"bodymd5":"d41d8cd98f00b204e9800998ecf8427e","headermd5":"1941f7d924e0ae4871ea7ed3ad196a46"},"length":"2048"},"asn":"AS13335","country":"AU","data":"HTTP\/1.1
        403 Forbidden\r\nDate: Thu, 29 Aug 2019 11:59:46 GMT\r\nContent-Type: text\/html;
        charset=UTF-8\r\nTransfer-Encoding: chunked\r\nConnection: keep-alive\r\nSet-Cookie:
        __cfduid=d99b335b51665fa8d2c6fe0214668ac0b1567079986; expires=Fri, 28-Aug-20
        11:59:46 GMT; path=\/; domain=.koydenizyoresel.com; HttpOnly\r\nSet-Cookie:
        __cfduid=d91e855c7e44543c28a51221de2092c4e1567079986; expires=Fri, 28-Aug-20
        11:59:46 GMT; path=\/; domain=.koydenizyores[...]
