---
http_interactions:
- request:
    method: get
    uri: https://www.onyphe.io/api/md5/7a1f20cae067b75a52bc024b83ee4667?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"count":10,"error":0,"max_page":1000,"myip":"<MY_IP>","page":1,"results":[{"@category":"datascan","@timestamp":"2018-11-17T23:15:39.000Z","@type":"doc","app":{"length":"21"},"asn":"AS58466","city":"Guangzhou","country":"CN","cpe":["cpe:\/a:openbsd:openssh:7.4"],"data":"SSH-2.0-OpenSSH_7.4\\x0d\n","datamd5":"7a1f20cae067b75a52bc024b83ee4667","device":{"class":"SSH
        Server"},"ip":"14.18.56.134","ipv6":"false","location":"23.1167,113.2500","organization":"CHINANET
        Guangdong province network","port":"22","product":"OpenSSH","productvendor":"OpenBSD","productversion":"7.4","protocol":"ssh","protocolversion":"2.0","seen_date":"2018-11-17","source":"sniffer","subnet":"14.18.32.0\/19","tag":["admin","botnet","compromised","mirai","worm"],"tls":"false"},{"@category":"datascan","@timestamp":"2018-11-17T17:42:06.000Z","@type":"doc","app":{"length":"21"},"asn":"AS48874","country":"RO","cpe":["cpe:\/a:openbsd:openssh:7.4"],"data":"SSH-2.0-OpenSSH_7.4\\x0d\n","datamd5":"7a1f20cae067b75a52bc024b83ee4667","device":{"class":"SSH
        Server"},"ip":"89.46.222.207","ipv6":"false","location":"46.0000,25.0000","organization":"Hostmaze
        Inc Srl-d","port":"22","product":"OpenSSH","productvendor":"OpenBSD","productversion":"7.4","protocol":[...]
